@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "passero-one";
  src: url("${import.meta.env.VITE_S3_URL}Font/PasseroOne-Regular.ttf"); 
}

@keyframes flicker {
  0%, 100% { background-color: #60a5fa; } /* 밝은 파란색 */
  /* 25% { background-color: #3b82f6; } 중간 파란색 */
  /* 50% { background-color: #2563eb; } 짙은 파란색 */
  75% { background-color: #3b82f6; } /* 중간 파란색 */
}

.button-flicker {
  animation: flicker 0.5s infinite alternate; /* 1.5초마다 무한히 번갈아가며 실행 */
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f17e; /* color of the tracking area */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #6CBDD0; /* color of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3FACC7; /* color of the scroll thumb on hover */
}